#movie-results small{
font-family: 'Spartan', sans-serif;;
}

#movie-results button{
    font-family: 'Times New Roman', Times, serif;
}

#movie-results{
    font-family: 'Permanent Marker', cursive;
}