#movie-results small{
font-family: 'Spartan', sans-serif;;
}

#movie-results button{
    font-family: 'Times New Roman', Times, serif;
}

#movie-results{
    font-family: 'Permanent Marker', cursive;
}

.flex-nav{
    display: flex;
    justify-content: center;
}

.logo-img{
    width:60px;
}

.logo-img img{
    max-width: 100%;
}

.site-title{
    align-self: flex-end;
}

.site-title p{
    margin:0;
}

header{
    padding:10px 0;
    background-color: #9575CD;
    border-bottom: 2px solid #4527A0;
    font-family: 'Oswald', sans-serif;;
}

.big-logo-text{
    font-size: 51px;
    color:white;
}

#title-name{
    font-family: 'Times New Roman', Times, serif;
}

#credits{
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 600px) {
    #title0,
    #title1,
    #title2,
    #title3,
    #title4,
    #title5,
    #title6,
    #title7,
    #title8,
    #title9{
        font-size: 30px;
    }

    #search_display button{
        font-size: 9px;
    }

    #search_display small{
        font-size: 8px;
    }
}